In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
#from imblearn.metrics import classification_report_imbalanced
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
#from imblearn.over_sampling import RandomOverSampler

import warnings
warnings.filterwarnings('ignore')

---

## Split the Data into Training and Testing Sets

In [2]:
# Importing the data
# Setting the path of the csv file
data_file = Path("./Resources/lending_data.csv")
# Importing the data file and setting the date column as the index column.
df_data = pd.read_csv(
    data_file
    )

# Reviewing first 5 rows of the DataFrame
df_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = pd.Series(df_data['loan_status'])

# Separate the X variable, the features
X = df_data.drop(columns='loan_status')

In [4]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [5]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Check the balance of the labels

In [6]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Split the data into training and testing datasets.

In [7]:
# Split the data using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

---

## Baseline Logistic Regression Model with original data

In [8]:
# Instantiate the Logistic Regression model
lr = LogisticRegression(random_state=1)

# Fit the model using training data
lr.fit(X_train,y_train)

LogisticRegression(random_state=1)

In [9]:
# Make a prediction using the testing data
y_pred=lr.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

Evaluate the model’s performance

In [10]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, y_pred)

0.9520479254722232

In [11]:
# Generate a confusion matrix for the model
test_matrix=confusion_matrix(y_test,y_pred)
test_matrix

array([[18663,   102],
       [   56,   563]], dtype=int64)

In [12]:
# Print the classification report for the model
classification_report = classification_report_imbalanced(y_test, y_pred)
print(classification_report)

NameError: name 'classification_report_imbalanced' is not defined

**Notes:** This model does reasonably well predicting both labels (healthy loans and high-risk loan) with 95% accuracy. It is considerably weaker flagging the minority class though. With precision of 85%, about 15% of predicted high-risk loans are not actually high-risk loans. Recall for high-risk loans is 91%, meaning 91% or the actual high-risk loans are correctly identified by the model.

---

## Logistic Regression Model with Resampled Training Data

In [ ]:

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
random_oversampler = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_resampled, y_resampled=random_oversampler.fit_resample(X_train,y_train)

In [ ]:
# Count the distinct values of the resampled labels data
y_resampled.value_counts()

In [ ]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
lr_balanced=LogisticRegression()

# Fit the model using the resampled training data
lr_balanced.fit(X_resampled,y_resampled)

# Make a prediction using the testing data
y_pred_rb=lr_balanced.predict(X_test)
y_pred_rb

### Evaluate the model’s performance with balanced data

In [ ]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_score(y_test, y_pred_rb)

In [ ]:
# Generate a confusion matrix for the model
test_matrix_rb=confusion_matrix(y_test,y_pred_rb)
test_matrix_rb

In [ ]:
# Print the classification report for the model
classification_report_rb = classification_report_imbalanced(y_test, y_pred_rb)
print(classification_report_rb)

**Notes:** The new model (trained on rebalanced data) does considerably better identifying high-risk loans with recall improving from 91% to 99%. Precision actually declines for high-risk loans, but that is an expected trade-off for higher recall as the number of false positives ticked up.